body {
    background-image: url('backG.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    background-position:center;
}


.backG{
    background-image: url('backBlack.png');
    background-position: center;
    margin-left: auto;
    width: 400px;
    height: 350px;
    flex-shrink: 0;
    margin-top: 10%;
    margin-right: auto;
}

.inputLogin{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.imgLogin{
    margin-top: 15%;
    width: 200px;
}

.center {
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.btnRed{
    margin-left: 140px;
    border-radius: 5px;
    border: 1px solid #1E2B2E;
    background: #E4002B;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
}

.btnRed:hover{
    background: #a7001f;
}


.labelRegis{
    margin-left: 140px;
    font-size: 10px;
    display: flex;
    width: 112px;
    height: 21px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.text-white {
    color: white
}


.zoom-in-out-box {
    animation: zoom-in-zoom-out 3s ease infinite;
  }
  
@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.05, 1.05);
    }
    100% {
      transform: scale(1, 1);
    }
  }