.grid-container {
    position:static;
    display: grid;
    grid-gap: 20px;
    margin-top: 3px;
}

.grid-item {
    background-color: black;
    color: white;
    cursor: pointer;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Largura de 100% em rela��o ao cont�iner pai */
    padding: 13px;
    box-sizing: content-box; /* Garante que o padding n�o aumenta o tamanho total do grid-item */
    border-radius: 5px; /* Adicione bordas arredondadas a todos os grid items */
}

/* Adicione espa�o de 3px entre os t�picos */
.grid-container h5 {
    margin: 0;
    margin-bottom: 3px;
}


    .grid-item img {
        width: 100%; /* A imagem preenche todo o espa�o do grid-item */
        height: auto; /* Mant�m a propor��o da imagem */
        border-radius: 5px; /* Adicione bordas arredondadas, se desejado */
    }
/* Estilos para tornar o grid responsivo */



.h1t {
    margin-top: 4%;
    color: white;
}
.nome {
    font-weight: bold;
}
.nomecima {
    position: absolute; /* Define a posi��o como absoluta para posicionamento personalizado */
    top: -30px; /* Move o texto 30 pixels para cima em rela��o ao topo do quadrado */
    left: 0; /* Alinha o texto com o lado esquerdo do quadrado */
}


.margen1 {
    margin-left: 30%
}



.w3-bar, h1, button {
    font-family: "Montserrat", sans-serif;
    color: white;
}

.fa-anchor, .fa-coffee {
    font-size: 200px
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(21, 21, 21, 0.9); /* Cor de fundo para o corpo da p�gina */
}

.header-wrapper {
    padding: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    color: #ffffff;
}

.header-bottom-border {
    border-bottom: 1px solid white; /* Linha branca de 1 pixel na parte inferior do cabe�alho */
}


.nav-options {
    display: flex;
    gap: 40px;
}

    .nav-options a {
        text-decoration: none;
        color: #ffffff;
    }

.login-btn, .register-btn {
    padding: 5px 13px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    margin-right: 8px;
}

.login-btn:hover, .register-btn:hover{
    padding: 5px 13px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    text-decoration: none;
    color: #ff0000;
    margin-right: 8px;
}

.responsive-img {
    width: 100%;
    height: auto;
}

.footer1 {
    padding-top: 10px
}

.sobreposicao {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo preta semi-opaca */
    z-index: 1; /* Garante que a sobreposi��o esteja acima da imagem e do texto */
}

.grid-item.ultimo-item {
    position: relative;
    /* Para posicionar corretamente a sobreposi��o no �ltimo item */
}

.back {
    position:relative;
    margin:50px;
    border-radius: 10px;
    flex-shrink: 0;
    background: #ffffff10;
}

.lineh1{
    text-decoration:underline;
    color: #ffffff;
}

.imgsala{
    width: 361px;
    height: 191px;
    margin-right: 3%;   
}

.imgsala1{
    width: 361px;
    height: 191px;  
}

.imgparagrafo{
    margin-left: 80%;
    height: 1%;
    width: 1px;
    flex-shrink: 0;
}

.imgfinal{
    margin-left: 0%;
    height: 1%;
    width: 1px;
    flex-shrink: 0;
}

.btn{
    border-radius: 5px;
    border: 5px solid #E4002B;
    background: #E4002B;
}

.btn:hover{
    border-radius: 5px;
    border: 5px solid #a7001f;
    background: #E4002B;
}

.btnverde{
    border-radius: 5px;
    border: 5px solid green;
    background: #E4002B;
}

.janela-modal{
    margin-top: 0%;
    width: 100vw;
    height: 100vh;
    position:fixed;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.397);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.janela-modal.abrir{
    display: flex;
}


.modal{
    width: 60%;
    min-width: 450px;
    min-height: 200px;
    background-color: #ffffff96 ;
    backdrop-filter:blur(10px);
    padding: 50px;
    border-radius: 20px;
}

.fechar{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: red;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.fechar:hover{
    background-color: #a7001f;
}

.quadrado{
    margin: 1%;
    position: absolute;
    width: 110px;
    height: 110px;
}